#numpy-->numerical python
erişim içimn [tıklayınız](https://numpy.org/learn/)

Numpy, Python'da bilimsel hesaplama için kullanılan bir kütüphanedir ve çok boyutlu diziler (arrays) ile çalışmayı sağlar.

In [4]:
#pip install numpy# kütüphane yükleme

import numpy as np # kütüphane yükleme anlık nesne türetme
import tensorflow
import keras

In [5]:
class Insan:
  ad = "hasan ozgur"
  soyad="ozdemir"
  tc = 5454545454
  
  #ad,soyad,tc--field, özellik, propoert

  # def--> fonksiyon yapici
  def __init__(self, ad, soyad, tc):
    self.ad = ad
    self.soyad = soyad
    self.tc = tc

1. **Numpy Dizisi (Array) Oluşturma**
Bir listeyi numpy dizisine dönüştürmek:

In [6]:
my_list = [1, 2, 3, 4, 5] #sayı lste--->1 satır, 5 sütunluk vector/dizi #tek boyutlu
np_array = np.array(my_list)
print(np_array)
# Çıktı:

[1 2 3 4 5]

In [7]:
my_list[0]

1

In [8]:
my_list2 = [[0,1,2,3,4],
            [1, 2, 3, 4, 5]] #sayı 2 boyutlu 2,5 #çok boyutlu
np_array2 = np.array(my_list2)
print(np_array2)

[[0 1 2 3 4]
 [1 2 3 4 5]]

0'larla dolu bir dizi oluşturmak:

In [10]:
zeros = np.zeros(5)
print(zeros)

[0. 0. 0. 0. 0.]

1'lerle dolu bir dizi oluşturmak:

In [11]:
ones = np.ones(5)
print(ones)

[1. 1. 1. 1. 1.]

**Belirli bir aralıkta değerler içeren bir dizi oluşturmak:**

In [12]:
arange_array = np.arange(0, 10, 2)
print(arange_array)

[0 2 4 6 8]

0 ile 1 arasında eşit aralıklarla 5 sayı oluşturmak:

In [13]:
linspace_array = np.linspace(0, 10, 5)
print(linspace_array)

[ 0.   2.5  5.   7.5 10. ]

3. **Numpy Dizilerinde Matematiksel İşlemler**

In [ ]:
arr = np.array([1, 2, 3, 4])# 1,4 matris #  tek boyutlu
print(arr + 2)
# Çıktı: [3 4 5 6]

print(arr - 1)
# Çıktı:  [0 1 2 3]

print(arr * 3)
# Çıktı:[ 3  6  9 12]

print(arr / 2)
# Çıktı:[0.5 1.  1.5 2. ]

[3 4 5 6]
[0 1 2 3]
[ 3  6  9 12]
[0.5 1.  1.5 2. ]

4. Numpy Dizilerinin Özellikleri

In [ ]:
#Dizinin şekli (shape):

arr = np.array([[1, 2, 3], [4, 5, 6]])  # çok boyutlu matris
print(arr.shape)
# Çıktı: (2, 3)  # 2 satır, 3 sütun

#Eleman sayısı (size):

print(arr.size)
# Çıktı: 6

#Eleman tipi (dtype): 

print(arr.dtype)
# Çıktı: int32 (elemanların türü)

(2, 3)
6
int32

5. Numpy ile Rastgele Sayılar

In [16]:
random_numbers = np.random.rand(5) #0 ile 1 arasında rastgele sayılar:
print(random_numbers)

[0.81983357 0.47317668 0.90225572 0.92456189 0.31656454]

In [17]:
random_integers = np.random.randint(1, 10, 5) #belirli aralıkta rastgele sayı
print(random_integers)
# Çıktı: Örneğin [3 7 1 5 9]

[8 9 7 4 2]

6. Numpy Matris İşlemleri

In [18]:
A = np.array([[1, 2], [3, 4]])#2,2
B = np.array([[5, 6], [7, 8]])

C = np.dot(A, B)      #matris çarpımı
print(C)

[[19 22]
 [43 50]]

In [19]:
C.T

array([[19, 43],
       [22, 50]])

In [20]:
A

array([[1, 2],
       [3, 4]])

In [21]:
print(A.T)#transpoze

[[1 3]
 [2 4]]

7. Numpy Dizilerinde İndeksleme ve Dilimleme

In [22]:
arr = np.array([10, 20, 30, 40, 50])  # tek bboyutlu dizi--vektör
print(arr[1])
print(arr[1:4])

20
[20 30 40]

In [23]:
arr2 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])  # çok bboyutlu dizi--matris 3*3-->3 matris
print(arr2[0, 1])
print(arr2[:2, 1:])

2
[[2 3]
 [5 6]]

8. Numpy'da Fonksiyonlar

In [24]:
print(np.max(arr)) # max
print(np.min(arr)) #min
print(np.mean(arr))  # Ortalama
print(np.sum(arr))   # Toplam
print(np.std(arr))   # Standart sapma

50
10
30.0
150
14.142135623730951

#pandas


Pandas, veri analizi ve veri işleme için kullanılan popüler bir Python kütüphanesidir. Veri manipülasyonu ve analizi için DataFrame ve Series yapıları sağlar

kendi dökümanınına ulaşmak için
[tıklayınız](https://pandas.pydata.org/docs/)

In [26]:
#pip install pandas
import pandas as pd

1. Pandas Series ve DataFrame

In [27]:
import pandas as pd

# Liste ile Series oluşturma
my_series = pd.Series([10, 20, 30, 40])
print(my_series)

0    10
1    20
2    30
3    40
dtype: int64

DataFrame: İki boyutlu veri yapısıdır (tablolar gibi). Satır ve sütunlardan oluşur.

In [28]:
# Sözlük ile DataFrame oluşturma # dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age':  [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

3. CSV Dosyasını Okuma ve Yazma

In [29]:
import pandas as pd

In [32]:
# df = pd.read_csv('data.csv')
dfe = pd.read_excel('MarketSales.xlsx')
#df.to_csv('output.csv', index=False)

4. basit işlemler

In [33]:
df.head()# df.head(2)  varsayılan olarak 5 adet gelir, İlk birkaç satırı görüntülemek
df.tail()
df.shape
df.columns

Index(['Name', 'Age', 'City'], dtype='object')

In [34]:
ages = df['Age'] #Belirli bir sütunu seçme
print(ages)

0    25
1    30
2    35
Name: Age, dtype: int64

In [35]:
selected_columns = df[['Name', 'City']] #Birden fazla sütun seçmek:
print(selected_columns)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [36]:
#Koşullu seçim yapma
adults = df[df['Age'] >= 30]
print(adults)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [37]:
#Belirli bir değeri değiştirmek:
df.loc[df['Name'] == 'Alice', 'Age'] = 26

6. DataFrame Üzerinde İstatistiksel İşlemler

In [38]:
print(df['Age'].mean())  # Yaşların ortalaması
print(df['Age'].sum())   # Yaşların toplamı
print(df['Age'].min())   # En küçük yaş
print(df['Age'].max())   # En büyük yaş

30.333333333333332
91
26
35

In [39]:
grouped = df.groupby('City')['Age'].mean() #Gruplama işlemi

print(grouped)

City
Chicago        35.0
Los Angeles    30.0
New York       26.0
Name: Age, dtype: float64

In [40]:
import matplotlib as mt
import seaborn as sns

7. Eksik Verilerle Çalışmak

In [41]:
df.isnull().sum() #Eksik değerleri kontrol etmek:

Name    0
Age     0
City    0
dtype: int64

In [42]:
df['Age'].fillna(df['Age'].mean(), inplace=True) #Eksik değerleri doldurmak:

C:\Users\hasanozz\AppData\Local\Temp\ipykernel_9244\3201805579.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True) #Eksik değerleri doldurmak:

In [43]:
df.dropna(inplace=True) #Eksik değerleri içeren satırları silmek:

8. DataFrame’i Sıralamak

In [44]:
#Belirli bir sütuna göre sıralamak:


df.sort_values('Age', ascending=False, inplace=True)

9. DataFrame Üzerinde Satır ve Sütun Ekleme

In [45]:
#Yeni sütun eklemek:

df['NewColumn'] = [1, 2, 3]

In [50]:
#Satır eklemek (concat() kullanarak):
new_row = {'Name': 'David', 'Age': 40, 'City': 'San Francisco'}

new_row_df = pd.DataFrame([new_row]) # Sözlüğü liste içine almak tek satır oluşturur

df = pd.concat([df, new_row_df], ignore_index=True)

# en çok kullanılan pandas fonksiyonları

In [51]:
#Verinin genel bilgilerini almak:


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       4 non-null      object
 1   Age        4 non-null      int64
 2   City       4 non-null      object
 3   NewColumn  3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes

In [52]:
#Tanımlayıcı istatistikleri almak:


df.describe()

             Age  NewColumn
count   4.000000        3.0
mean   32.750000        2.0
std     6.075909        1.0
min    26.000000        1.0
25%    29.000000        1.5
50%    32.500000        2.0
75%    36.250000        2.5
max    40.000000        3.0

# sayısal olmayan değerleri encode
# kategorik değerleri sayısal değerlere dönüştürme
> label encoding

> one hot encoding

bilgi için [tıklayınız](https://serdartafrali.medium.com/veri-biliminde-encoding-i%CC%87%C5%9Flemleri-616e87bf8c74)

**db**

Kaggle kidney db:[tıklayınız](https://www.kaggle.com/datasets/figolm10/kidney-dataset/code)

In [ ]:
# colab ortamında çalışılıyor ise: 
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
#pip install numpy

In [54]:
pip install numpy

Requirement already satisfied: numpy in c:\users\hasanozz\appdata\local\programs\python\python310\lib\site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [55]:
import pandas as pd

#df = pd.read_csv('/content/drive/MyDrive/veri bilimine giris/3.Hafta/kidney_disease.csv')
#localde aynı klasörde
df = pd.read_csv('kidney_disease.csv')

In [56]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [57]:
df.head(1)# yapıcı metoda parametre yolluyorum.  #metot overloading

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.02,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd

In [58]:
df.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [59]:
df.shape

(400, 26)

In [60]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [61]:
df.describe().T

      count        mean         std     min     25%     50%     75%      max
id    400.0  199.500000  115.614301   0.000   99.75  199.50  299.25  399.000
age   391.0   51.483376   17.169714   2.000   42.00   55.00   64.50   90.000
bp    388.0   76.469072   13.683637  50.000   70.00   80.00   80.00  180.000
sg    353.0    1.017408    0.005717   1.005    1.01    1.02    1.02    1.025
al    354.0    1.016949    1.352679   0.000    0.00    0.00    2.00    5.000
su    351.0    0.450142    1.099191   0.000    0.00    0.00    0.00    5.000
bgr   356.0  148.036517   79.281714  22.000   99.00  121.00  163.00  490.000
bu    381.0   57.425722   50.503006   1.500   27.00   42.00   66.00  391.000
sc    383.0    3.072454    5.741126   0.400    0.90    1.30    2.80   76.000
sod   313.0  137.528754   10.408752   4.500  135.00  138.00  142.00  163.000
pot   312.0    4.627244    3.193904   2.500    3.80    4.40    4.90   47.000
hemo  348.0   12.526437    2.912587   3.100   10.30   12.65   15.00   17.800

In [62]:
df.isnull()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
398,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
399,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [63]:
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

#tek tek bakmak yerine fonksiyon yapabilriz

In [64]:
import pandas as pd

"""c=' a'
x="sinnan"
"""

def dataset_summary(df):
    """
    Bu fonksiyon, verilen DataFrame'in özet bilgilerini döndürür. #docstring
    """
    # Tanımlayıcı istatistikler
    description = df.describe()

    # Genel bilgi
    info = df.info()

    # Eksik değerlerin sayısı
    missing_values = df.isnull().sum()

    return description, info, missing_values

In [65]:

# Örnek kullanım:
 #df = pd.read_csv('dosya_yolu.csv')
genel = dataset_summary(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [66]:
genel

(               id         age          bp          sg          al          su  \
 count  400.000000  391.000000  388.000000  353.000000  354.000000  351.000000
 mean   199.500000   51.483376   76.469072    1.017408    1.016949    0.450142
 std    115.614301   17.169714   13.683637    0.005717    1.352679    1.099191
 min      0.000000    2.000000   50.000000    1.005000    0.000000    0.000000
 25%     99.750000   42.000000   70.000000    1.010000    0.000000    0.000000
 50%    199.500000   55.000000   80.000000    1.020000    0.000000    0.000000
 75%    299.250000   64.500000   80.000000    1.020000    2.000000    0.000000
 max    399.000000   90.000000  180.000000    1.025000    5.000000    5.000000

               bgr          bu          sc         sod         pot        hemo
 count  356.000000  381.000000  383.000000  313.000000  312.000000  348.000000
 mean   148.036517   57.425722    3.072454  137.528754    4.627244   12.526437
 std     79.281714   50.503006    5.741126   10.408752    3.193904    2.912587
 min     22.000000    1.500000    0.400000    4.500000    2.500000    3.100000
 25%     99.000000   27.000000    0.900000  135.000000    3.800000   10.300000
 50%    121.000000   42.000000    1.300000  138.000000    4.400000   12.650000
 75%    163.000000   66.000000    2.800000  142.000000    4.900000   15.000000
 max    490.000000  391.000000   76.000000  163.000000   47.000000   17.800000  ,
 None,
 id                  0
 age                 9
 bp                 12
 sg                 47
 al                 46
 su                 49
 rbc               152
 pc                 65
 pcc                 4
 ba                  4
 bgr                44
 bu                 19
 sc                 17
 sod                87
 pot                88
 hemo               52
 pcv                70
 wc                105
 rc                130
 htn                 2
 dm                  2
 cad                 2
 appet               1
 pe                  1
 ane                 1
 classification      0
 dtype: int64)

#kidneyOrnek.ipynb